@inherits LayoutComponentBase

@*Kötelező tag, hogy minden belső telerikes control jól működjön!!!*@
<TelerikRootComponent>


    @*a MainLayout a sidebar-ral, a fejléccel és a main div-vel*@
    <div class="sidebar">
        @*Így rakunk be egy razor komponenst*@
        <NavMenu Valami="asdf"/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

</TelerikRootComponent>
